.root{
    -fx-background-color:aquamarine;
    -fx-font-size: 12pt;
}

#label-title{
    -fx-font-weight: bold;
}

.button{
    -fx-font-style: normal;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #0e2110;
    -fx-text-fill: white;
}

.vbox{
    -fx-background-color: #bbe3ed;
}